openapi: 3.2.0
info:
  title: National University Of Colombia OAI PMH API
  version: '1.0'
  description: 'Operations tagged OAI-PMH across 2 of this provider''s published API definitions: national-university-of-colombia-journals-oai.yaml, national-university-of-colombia-repository-oai.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://revistas.unal.edu.co/index.php/index
  description: Open Journal Systems 3.4.0.10 site-wide context. Confirmed live 2026-09-01 via ?verb=Identify -> repositoryName "Portal de Revistas UN", repositoryIdentifier ojs.unal.edu.co, adminEmail digital@unal.edu.co.
- url: https://bffrepositorio.unal.edu.co/server
  description: DSpace 7.6.5 backend (REST API and OAI-PMH), discovered via repositorio.unal.edu.co assets/config.json
tags:
- name: oai pmh
  description: OAI-PMH 2.0 metadata harvesting interface for the university journal portal.
paths:
  /oai:
    get:
      tags:
      - oai pmh
      summary: OAI-PMH 2.0 request endpoint
      description: OAI-PMH 2.0 protocol endpoint for the Portal de Revistas UN. The verb parameter selects the operation. Returns XML conforming to the OAI-PMH schema. Confirmed live metadata prefixes are oai_dc, marcxml, oai_marc and rfc1807. Sets are one per journal, with journal:section subsets (e.g. acta_agronomica, acta_agronomica:AGRPR); at least 100 sets are served in the first ListSets page. deletedRecord is persistent, granularity YYYY-MM-DDThh:mm:ssZ.
      operationId: oaiRequest
      parameters:
      - name: verb
        in: query
        required: true
        description: The OAI-PMH protocol verb.
        schema:
          type: string
          enum:
          - Identify
          - ListMetadataFormats
          - ListSets
          - ListIdentifiers
          - ListRecords
          - GetRecord
      - name: metadataPrefix
        in: query
        description: Metadata format prefix (required for ListIdentifiers, ListRecords, GetRecord).
        schema:
          type: string
          enum:
          - oai_dc
          - marcxml
          - oai_marc
          - rfc1807
      - name: identifier
        in: query
        description: OAI identifier of a record (required for GetRecord), e.g. oai:ojs.unal.edu.co:article/1.
        schema:
          type: string
      - name: set
        in: query
        description: setSpec to restrict harvesting to one journal or journal section, e.g. acta_agronomica or acta_agronomica:AGRPR.
        schema:
          type: string
      - name: from
        in: query
        description: Lower bound UTC datestamp (YYYY-MM-DDThh:mm:ssZ).
        schema:
          type: string
          format: date-time
      - name: until
        in: query
        description: Upper bound UTC datestamp (YYYY-MM-DDThh:mm:ssZ).
        schema:
          type: string
          format: date-time
      - name: resumptionToken
        in: query
        description: Token returned by a previous incomplete list response.
        schema:
          type: string
      responses:
        '200':
          description: OAI-PMH XML response. Protocol-level failures (badVerb, badArgument, cannotDisseminateFormat, idDoesNotExist, noRecordsMatch, noSetHierarchy, badResumptionToken) are returned inside an <error> element with HTTP 200, per the OAI-PMH specification.
          content:
            text/xml:
              schema:
                type: string
                description: XML document conforming to http://www.openarchives.org/OAI/2.0/
    servers:
    - url: https://revistas.unal.edu.co/index.php/index
      description: Open Journal Systems 3.4.0.10 site-wide context. Confirmed live 2026-09-01 via ?verb=Identify -> repositoryName "Portal de Revistas UN", repositoryIdentifier ojs.unal.edu.co, adminEmail digital@unal.edu.co.
  /oai/request:
    get:
      tags:
      - oai pmh
      summary: OAI-PMH 2.0 request endpoint
      description: OAI-PMH 2.0 protocol endpoint. The verb parameter selects the operation. Returns XML conforming to the OAI-PMH schema. Confirmed live metadata prefixes include oai_dc, qdc, mods, mets, didl, dim, etdms, marc, ore, rdf, uketd_dc, and xoai.
      operationId: oaiRequest
      parameters:
      - name: verb
        in: query
        required: true
        description: The OAI-PMH protocol verb.
        schema:
          type: string
          enum:
          - Identify
          - ListMetadataFormats
          - ListSets
          - ListIdentifiers
          - ListRecords
          - GetRecord
      - name: metadataPrefix
        in: query
        description: Metadata format prefix (required for ListIdentifiers, ListRecords, GetRecord).
        schema:
          type: string
          enum:
          - oai_dc
          - qdc
          - mods
          - mets
          - didl
          - dim
          - etdms
          - marc
          - ore
          - rdf
          - uketd_dc
          - xoai
      - name: identifier
        in: query
        description: OAI identifier of a record (required for GetRecord), e.g. oai:repositorio.unal.edu.co:unal/76203.
        schema:
          type: string
      - name: set
        in: query
        description: setSpec to restrict harvesting, e.g. com_unal_1 or col_unal_82470.
        schema:
          type: string
      - name: from
        in: query
        description: Lower bound UTC datestamp (YYYY-MM-DDThh:mm:ssZ).
        schema:
          type: string
          format: date-time
      - name: until
        in: query
        description: Upper bound UTC datestamp (YYYY-MM-DDThh:mm:ssZ).
        schema:
          type: string
          format: date-time
      - name: resumptionToken
        in: query
        description: Token returned by a previous incomplete list response.
        schema:
          type: string
      responses:
        '200':
          description: OAI-PMH XML response.
          content:
            text/xml:
              schema:
                type: string
                description: XML document conforming to http://www.openarchives.org/OAI/2.0/
    servers:
    - url: https://bffrepositorio.unal.edu.co/server
      description: DSpace 7.6.5 backend (REST API and OAI-PMH), discovered via repositorio.unal.edu.co assets/config.json
x-refined-from:
- national-university-of-colombia-journals-oai.yaml
- national-university-of-colombia-repository-oai.yaml
